{% extends 'base.html' %}

{% block title %} Página da consulta {% endblock %}

{% block main %}

    <div class="row">
        <div class="col-sm-4">

            <ul class="list-group">
                <li class="list-group-item text-muted"> Paciente </li>
                <li class="list-group-item"><span><strong>Nome</strong></span> {{appt.patient.name}} </li>
                <li class="list-group-item"><span><strong>CPF</strong></span> {{appt.patient.cpf}} </li>
                <li class="list-group-item"><span><strong>Plano</strong></span> {{appt.patient.plan}} </li>

                {% if appt.active == False %}

                <li class="list-group-item">
                    {% if user.role == 'medic' %}

                        <a href="{% url 'see_appt' appt.id %}" class="btn btn-success btn-lg active float-left btn_appt"
                           role="button" aria-pressed="true">
                            Atender
                        </a>
                        <a href="{% url 'cancel_appt' appt.id %}" class="btn btn-danger btn-lg active float-right btn_appt"
                           role="button" aria-pressed="true">
                            Cancelar
                        </a>

                    {% else %}

                        <a href="{% url 'cancel_appt' appt.id %}" class="btn btn-danger btn-lg active return_button"
                           role="button" aria-pressed="true">
                            Cancelar
                        </a>

                    {% endif %}
                </li>

                {% else %}

                <li class="list-group-item">
                    <a href="{% url 'reg_return' appt.id %}" class="btn btn-success btn-lg active float-left return_button"
                       role="button" aria-pressed="true">
                        Marcar retorno
                    </a>
                </li>

                {% endif %}
            </ul>
        </div>

        <div class="col-sm-8">

            <ul class="list-group">
                <li class="list-group-item text-muted"> Dados Consulta </li>
                <li class="list-group-item">
                    <span><strong>Motivo: </strong></span >
                    <span class="span_list"> {{appt.reason}} </span>
                </li>
                <li class="list-group-item"> <span>
                    <strong>Observações: </strong></span>
                    <span class="span_list"> {{appt.observations}} </span>
                </li>
                <li class="list-group-item">
                    <span><strong>Data: </strong>
                    </span> <span class="span_list"> {{appt.date}} </span>
                </li>
                <li class="list-group-item">
                    <span><strong>Horário: </strong>
                    </span> <span class="span_list"> {{appt.hour}} </span>
                </li>
                <li class="list-group-item">
                    <span><strong>Retorno: </strong>
                    </span> <span class="span_list">
                        {% if appt.is_return == True %}
                            Sim
                        {% else %}
                            Não
                        {% endif %}
                    </span>
                </li>
                {% if appt.active == True %}
                <li class="list-group-item">
                    <span><strong>Relatório: </strong>
                    </span> <span class="span_list">
                        {{ appt.rapport }}
                    </span>
                </li>
                {% endif %}

            </ul>
        </div>

    </div>

{% endblock %}