{% extends 'base.html' %}

{% block title %} Nova consulta {% endblock %}

{% block main %}

    <form method="get" id="doc_selection">
        <div class="form-group col-md-4">
            <label for="select_doctor">Doutor</label>
            <select id="select_doctor" class="form-control" name="doctor">
                <option selected>Dr. Carlos</option>
                <option>Dr. Carluxo</option>
                {% for res in results %}

                <option> {{res.username}} </option>

                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="select_date">Data</label>
            <input type="date" class="form-control" id="select_date" placeholder="Data" name="date">
        </div>

        <button id="submit_doc_selection" type="submit" class="btn btn-primary mb-2"> Confirmar </button>
    </form>

{% endblock %}