{% extends 'base.html' %}

{% block title %} Nova consulta {% endblock %}

{% block main %}

    {% for i in range %}
        {{ i }}
    {% endfor %}

    <form>
        <div class="form-group">
            <label for="select_horarios">Horários disponíveis</label>
            <select multiple class="form-control" id="select_horarios">
<!--                <option>1</option>-->
<!--                <option>2</option>-->
<!--                <option>3</option>-->
<!--                <option>4</option>-->
<!--                <option>5</option>-->
            </select>
        </div>
        <div class="form-group">
            <label for="reason_appt">Motivo da consulta</label>
            <textarea class="form-control" id="reason_appt" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="observations">Observações</label>
            <textarea class="form-control" id="observations" rows="3"></textarea>
        </div>
    </form>

{% endblock %}