{% extends 'base.html' %}

{% block title %} Página de busca {% endblock %}

{% block main %}

    <form method="GET" class="form-inline" style="text-align:center">

        <label class="sr-only" for="inlineFormInputName2">Busca</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Busca" name="name">

        <div class="form-check mb-2 mr-sm-2">
            <input class="form-check-input" type="radio" id="name_check" name="type_search" value="name_check" checked>
            <label class="form-check-label" for="name_check">
                Nome
            </label>
        </div>

        <div class="form-check mb-2 mr-sm-2">
            <input class="form-check-input" type="radio" id="cpf_check" name="type_search" value="cpf_check">
            <label class="form-check-label" for="cpf_check">
                CPF
            </label>
        </div>

        <button type="submit" class="btn btn-primary mb-2"> Buscar </button>

    </form>

    {% if error %}

        <div class="alert alert-danger" role="alert">
            Nenhum resultado encontrado!
        </div>

    {% else %}

        {% if results %}

            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" href="{% url 'patient_page' 1 %}">
                    Otávio Thomas Bertucini
                </a>

                <a class="list-group-item list-group-item-action" href="{% url 'patient_page' 1 %}">
                    Otávio Silva
                </a>


            </div>

        {% endif %}

    {% endif %}

{% endblock %}